{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "73",
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}
